* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    min-height: 100vh;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.heading {
    font-size: 30px;
    margin: 10px 0;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-weight: 550;
    margin: 10px;
}

.input {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
    border-radius: 5px;
    color:rgba(0, 0, 0, 0.6);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

.input:focus-visible {
    outline: 2px solid rgba(0, 0, 0, 0.7);

}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.instruction {
    margin: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgb(242 241 241);
    font-size: 15px;
    font-weight: bold;
    color: rgb(59, 80, 81);
    padding: 15px;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn {
    background-color: lightgreen;
    border: 2px solid antiquewhite;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-family: monospace;
}

.btn:hover {
    box-shadow: 2px 3px 4px rgb(0 0 0 / 60%);
    transition: box-shadow ease 200ms;
}

.btn:active {
    box-shadow: 4px 5px 4px rgb(0 0 0 / 70%);
    transition: box-shadow ease-in 200ms;
}

.info-text {
    opacity: 70%;
    margin: 5px 15px;
}