* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #604e77, rgb(96, 90, 90));
}

.container {
    width: 40vw;
    min-width: fit-content;
    background-color: rgb(255, 255, 255, 0.3);
    min-height: 50vh;
    padding: 40px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 3px 50px 20px rgb(0, 0, 0, 0.5);
    margin: 10px;
}

.container p {
    margin: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: left;
    text-shadow: 0 1px 5px rgb(11, 62, 214);
}

.container .heading {
    text-align: center;
    text-shadow: 0 1px 5px black;
}

.input {
    width: 100%;
    height: 45px;
    outline: none;
    border: 1px solid cyan;
    border-radius: 5px;
    padding: 0 18px;
    margin-top: 10px;
    color: cyan;
    text-shadow: 0 2px 4px rgb(0 0 0 / 30%);
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 2px 3px black;
    font-weight: bold;
    font-size: 20px;
}