*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: darkcyan;
}
.container {
    background: rgba(255,255,255,0.3);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 85%;
    max-width: 550px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.heading {
    font-size: 32px;
    margin:10px;
    margin-bottom: 15px;
}
.temp-container {
    width: 100%;
    padding: 15px;
    font-weight: bold;
}

label {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    height: 33px;
    padding: 5px;
}
.input {
    width: 250px;
    font-family: monospace;
    padding: 5px;
    float: right;
    outline: none;
    background: rgba(255,255,255,0.3);
    border-color : rgba(255, 255, 255, 0.5);
    color: darkgreen;
    font-size: 20px;
    vertical-align: middle;
}
.input::placeholder {
    color: darkgray;
}