* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background : linear-gradient(to right, lightblue, yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    text-align: center;
    padding: 10px;
    width: 450px;
    margin: 5px;
}

.btn {
    background-color: rgb(0, 193, 0);
    color: aliceblue;
    padding: 10px;
    width: 60%;
    margin: 15px;
    margin-bottom: 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(1, 112, 1);
    transition: all 300ms ease-in;
}
.btn:disabled {
    background-color: gray;
    cursor:not-allowed;
}

.anime-image {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    border: 3px solid rgb(0, 193, 0);
}
.anime-name {
    margin: 20px;
    background-color: rgb(0, 193, 0);
    color: aliceblue;
    padding: 10px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
}

.anime-container {
     display: none;
} 