* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
}
.container {
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    margin: 10px;
    text-align: center;
    min-height: 45vh;
}
.heading {
    font-size: 30px;
    font-weight: 700;
    margin: 15px;
}
.quote {
    font-size: 25px;
    font-weight: 600;
    margin: 15px;
    height: 50%;
    word-spacing: 3px;
    letter-spacing: 3px;
}
span#quote {
    line-height: 3rem;
}
.fa-solid {
    height: 2px;
}
.author {
    font-size: 25px;
    margin: 10px;
    font-style: italic;
}
.btn {
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
    background-color: rgba(255,255,255, 0.3);
    border-color: rgba(255,255,255,0.6);
    text-transform: uppercase;
    width: 300px;
}
.btn:hover {
    background-color: rgba(255,255,255, 0.6);
    box-sizing: 0 4px 4px rgba(255,255,255,0.3);
    transition: 300ms ease-in-out;
    color: green;
}