* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    background-color: lightcyan;
    color: darkgreen;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    width: 85%;
    max-width: 600px;
    max-height: 319px;
    text-align: center;
    font-size: 25px;
}

.heading {
    margin: 5px;
    font-size: 30px;
}

.ratings-container {
    display: flex;
    padding: 20px 0px;
}

.rating {
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    width: 33.3%;
}

.rating:hover,
.rating.active {
    background-color: darkseagreen;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: aliceblue;
    transition: all 300ms ease;
}

.rating img {
    width: 60px;
    height: 60px;
}

.btn {
    background-color: darkcyan;
    color: aliceblue;
    border: 0;
    margin: 10px;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 300ms ease;
}

.btn:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: scale(0.96);
}